<script type="text/javascript">
  $(document).ready(function(){
    <%= @example['js'] %>
  });
</script>

<h1><%= @example['title'] %></h1>

<div class="slider"><%= @example['html'] %></div>

<h4>JS:</h4>
<pre><code data-language="javascript"><%= @example['js'].strip %></code></pre>

<h4>HTML:</h4>
<pre><code data-language="html"><%= h @example['html'].strip %></code></pre>

<% if @example['note'] %>
  <p class="note"><%= @example['note'] %></p>
<% end %>

<div class="examples-list">
  <h3>Examples</h3>
  <%= erb(:"partials/examples_list", :layout => false) %>
</div>