<!DOCTYPE html>
<head>
  <title><%= @title %> | Responsive jQuery Slider | bxSlider</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="/lib/jquery.bxslider.css" type="text/css" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="/css/github.css" type="text/css" />
	
	<script src="/js/jquery.min.js"></script>
	<script src="/lib/jquery.bxslider.min.js"></script>
	<script src="/js/rainbow.min.js"></script>
	<script src="/js/scripts.js"></script>
</head>

<body class="<%= @class %>">
	
	<header><div class="inner clearfix"><%= erb(:"partials/header", :layout => false) %></div></header>
	
	<section id="main">
		<div class="inner clearfix">
			
			<%= erb(:"partials/home_slider", :layout => false) if @front %>
			
			<aside>
			  <div class="block block-advert">advert here</div>

			  <div class="block block-buttons">
			    <a href="" class="btn btn-donate"><span class="icon-icomoon-beer"></span> Buy me a beer</a>
			    <a href="https://github.com/wandoledzep/bxslider-4" target="_blank" class="btn"><span class="icon-icomoon-github"></span> View on Github</a>
			  </div>
				
				<div class="block block-about">
				  <h4>Wondering how bxSlider was made?</h4>
				  <p><a href="/about">Click here to see the annotated source code with a description of the coding process</a></p>
				</div>
			</aside>
		
			<div id="primary"><%= yield %></div>
	
		</div>
	</section>

	<footer><div class="inner clearfix"><%= erb(:"partials/footer", :layout => false) %></div></footer>

</body>

</html>